<div class="category-title">SHOP BY CATEGORIES</div>
<div class="pull-right category-list">
  <% categories.each do |category| %>
    <%- if @category.id == category.id %>
      <div><%= category.name %></div>
    <%- else %>
      <div><%= link_to category.name, shop_category_path(category) %></div>
    <%- end %>
  <% end %>
</div>